{% extends 'base.html' %}
{% block title %}Welcome to Premium{% endblock %}
{% block content %}
<div class="container">
    <h1>Welcome to Premium</h1>
    <p>Congratulations on upgrading to a premium account! As a premium member, you now have access to the following benefits:</p>
    <ul>
        <li>Create unlimited projects</li>
        <li>Access advanced analytics</li>
        <li>Priority customer support</li>
        <li>And much more...</li>
    </ul>
    <p>We are excited to have you on board and look forward to helping you achieve your goals.</p>
</div>
{% endblock %}
